body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    display: flex;
    background-color: black;


    width: 100%px;
    height: 80%x;
    border-radius: 30px;
    margin-left: ;
    margin-top: 0%;


}

.first-texts {
    margin-top: 10%;
    margin-left: 3%;
    width: 50%;
}

.title {
    color: rgb(234, 248, 248);
    font-size: 60px;

}

.title-second {
    color: rgb(234, 248, 248);
    font-size: 30px;


}


.Marcelo {
    width: 50%;
}

.Marcelo img {
    width: 80%;
    height 80%;
    padding-left: 80px;

}

.button {
    color: white;
    background-color: orangered;
    border-radius: 5px;
    font-size: 45px;
    padding: 2% 2%;


}



.features {
    display: flex;
    margin-top: 60px;

    margin-left: 3%;

}

.sidescreen {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 30%;
    height: 100%;
    margin-right: 5%;

}

.transfers {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 65%;
    row-gap: 30px;
    column-gap: 30px;
}

.transfer {
    border: .3px dotted lightgray;
    border-radius: 10px;
    height: 15%;
}

.transfer img {
    width: 100%
}

.local {
    font-size: 40px;
    margin: 15px 15px;
    border-radius: 18px;
}

a {
    text-decoration: none;
    color: black;
}

#initial {
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 3px;
}

.icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    color: gray;
}

.salah {
    margin-left: 5px;
    font-size: 17px;
}

.ending {
    background-color: black;
    height: 35%;
    width: 100%;
    margin-top: 5%;
}

.design {
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 5%;
}

.last-resort {
    display: flex;

    color: wheat;
    justify-content: space-evenly;
}

.flags {
    display: flex;

}

.country img {
    margin: 5px 5px;
    width: 80%;
}

.matches {
    display: grid;
    border: 1px solid lightgray;
    height: 40%px;
    width: 35%px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 25px;
    text-align: center;
}

.date {
    font-size: 15px;
    text-align: center;
    color: grey;
}

.fixture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 75px;
}

.end-game {
    display: flex;
    padding-top: 3%;
    column-gap: 50px;
    padding-left: 45%;
    background-color: black;
    height: 50px;

}

.logo {
    font-size: 40px;
    color: silver;
    margin-left: 20%;
}

@media only screen and (max-width:420px) {}